<html>
  <head>
      <link rel="icon" href="assets/favicon.ico"/>
      <link rel="apple-touch-icon" href="assets/favicon.ico"/>

      <title>{{title}}</title>

      <!-- Bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

      <!-- Near -->
      <script src="https://cdn.jsdelivr.net/gh/nearprotocol/near-api-js/dist/near-api-js.js"></script>

      <!-- Style -->
      <link rel="stylesheet" href="/global.css">    
  </head>
  <body>
    <div class="container">
      {% block content %}
        Default content for the template
      {% endblock %}
    </div>
    <script src='/js/index.js' type="module"></script>
  </body>
</html>